[submodule "pico-sdk"]
	path = firmware/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "hardware/libraries/KiCad-RP-Pico"]
	path = hardware/libraries/KiCad-RP-Pico
	url = git@github.com:ncarandini/KiCad-RP-Pico.git
